<tr th:fragment="thend">
    <td style="line-height: 50px; height:50px;" th:text="${thisObj.category1}"></td>
    <td style="line-height: 50px; height:50px;" th:text="${thisObj.fullScore}"></td>
    <td style="line-height: 50px; height:50px;" th:text="${thisObj.evaluateWayScore}"></td>
</tr>


<table th:fragment="category2table">
    <tr>
        <td><b>项目</b></td>
        <td><b>满分</b></td>
        <td><b>得分</b></td>
    </tr>
    <tr th:each="data : ${category2Lists}">
        <td th:text="${data.category2}"></td>
        <td th:text="${data.fullScore}"></td>
        <td th:text="${data.evaluateWayScore}"></td>
    </tr>
</table>


<table style="margin-top: 0px;" th:fragment="category3table">
    <tr>
        <td><b>项目</b></td>
        <td><b>满分</b></td>
        <td><b>得分</b></td>
    </tr>
    <tr th:each="data : ${category3Lists}">
        <td th:text="${data.category3}"></td>
        <td th:text="${data.fullScore}"></td>
        <td th:text="${data.evaluateWayScore}"></td>
    </tr>
</table>
