<tr th:fragment="thend">
    <td th:text="${thisObj.category1}"></td>
    <td th:text="${thisObj.fullScore}"></td>
    <td th:if="${numbersSize == 1}" th:text="${thisObj.evaluateWayScore}"></td>
    <td th:if="${numbersSize > 1}" th:each="i:${#numbers.sequence(1,numbersSize)}" th:text="${i == 1 ? thisObj.evaluateWayScore : (i == 2 ? thisObj.evaluateWay : thisObj.remark)}"></td>
</tr>


<table th:fragment="category2table">
    <tr>
        <td><b>项目</b></td>
        <td><b>满分</b></td>
        <td th:if="${numbersSize == 1}"><b>得分</b></td>
        <td th:if="${numbersSize > 1}" th:each="i:${#numbers.sequence(1,numbersSize)}"><b th:text="'评测'+${i}"></b></td>
    </tr>
    <tr th:each="data : ${category2Lists}">
        <td th:text="${data.category2}"></td>
        <td th:text="${data.fullScore}"></td>
        <td th:if="${numbersSize == 1}">
            <a class="met-job-cvbtn" href="javascript:void(0)" th:onclick="|showListLayer(${params.n}, '${data.category2}', '${tier}', 'category2', '${category1}')|" th:text="${data.evaluateWayScore}" th:if="${data.category2 != '总分'}"></a>
            <span th:if="${data.category2 == '总分'}" th:text="${data.evaluateWayScore}"></span>
        </td>
        <td th:if="${numbersSize > 1}" th:each="i:${#numbers.sequence(1,numbersSize)}">
            <a class="met-job-cvbtn" href="javascript:void(0)" th:onclick="|showListLayer(${ i==1 ? numbersSets[0] : (i == 2 ? numbersSets[1] : numbersSets[2])}, '${data.category2}', '${tier}', 'category2', '${category1}')|" th:text="${i == 1 ? data.evaluateWayScore : (i == 2 ? data.evaluateWay : data.remark)}" th:if="${data.category2 != '总分'}"></a>
            <span th:if="${data.category2 == '总分'}" th:text="${i == 1 ? data.evaluateWayScore : (i == 2 ? data.evaluateWay : data.remark)}"></span>
        </td>
    </tr>
</table>


<table style="margin-top: 0px;" th:fragment="category3table">
    <tr>
        <td><b>项目</b></td>
        <td><b>满分</b></td>
        <td th:if="${numbersSize == 1}"><b>得分</b></td>
        <td th:if="${numbersSize > 1}" th:each="i:${#numbers.sequence(1,numbersSize)}"><b th:text="'评测'+${i}"></b></td>
    </tr>
    <tr th:each="data : ${category3Lists}">
        <td th:text="${data.category3}"></td>
        <td th:text="${data.fullScore}"></td>
        <td th:if="${numbersSize == 1}">
            <a class="met-job-cvbtn" href="javascript:void(0)" th:onclick="|showListLayer(${params.n}, '${data.category3}')|" th:text="${data.evaluateWayScore}" th:if="${data.category3 != '总分'}"></a>
            <span th:if="${data.category3 == '总分'}" th:text="${data.evaluateWayScore}"></span>
        </td>
        <td th:if="${numbersSize > 1}" th:each="i:${#numbers.sequence(1,numbersSize)}">
            <a class="met-job-cvbtn" href="javascript:void(0)" th:onclick="|showListLayer(${ i==1 ? numbersSets[0] : (i == 2 ? numbersSets[1] : numbersSets[2])}, '${data.category3}')|" th:text="${i == 1 ? data.evaluateWayScore : (i == 2 ? data.evaluateWay : data.remark)}" th:if="${data.category3 != '总分'}"></a>
            <span th:if="${data.category3 == '总分'}" th:text="${i == 1 ? data.evaluateWayScore : (i == 2 ? data.evaluateWay : data.remark)}"></span>
        </td>
    </tr>
</table>
