<!DOCTYPE html>
<html>
<head>
	<title>置换零售业务</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/font-awesome.min.css">
	<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
	<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
	<link rel="stylesheet" href="../../css/main.css">
	<script src="../../libs/jquery.min.js"></script>
	<script src="../../plugins/layer/layer.js"></script>
	<script src="../../libs/bootstrap.min.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../libs/ajaxfileupload.js"></script>
	<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
	<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
	<script src="../../plugins/My97DatePicker/WdatePicker.js" ></script>
	<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-1" style="padding:5px 0px 0px 0px; text-align:right;">
				选择经销商：
			</div>
            <div class="form-group col-sm-2" style="padding-left: 0px;">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="关键词" style="display: none;">
				<select class="form-control" id="selectDealerId" @change="reload">
					<option v-for="data in dealerLists" v-bind:value="data.id">{{data.title}}</option>
				</select>
            </div>
			<div class="form-group col-sm-1" style="padding:5px 0px 0px 0px; text-align:right;">
				选择品牌：
			</div>
			<div class="form-group col-sm-1" style="padding-left: 0px;">
				<select class="form-control" id="selectBrandId" @change="getAmountAllLists">
					<option v-for="data in brandLists" v-bind:value="data.id">{{data.name}}</option>
				</select>
			</div>
            <a class="btn btn-default" @click="query" style="display: none;">查询</a>
			<a v-if="hasPermission('pm:dr:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('pm:dr:save')" class="btn btn-primary" @click="upload"><i class="fa fa-arrow-circle-right"></i>&nbsp;导入</a>
			<a v-if="hasPermission('pm:dr:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('pm:dr:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			<a class="btn btn-danger" onclick="return gotoBoard(this)" target="_blank" href="/">本品牌业务看板</a>
			<a class="btn btn-warning" onclick="return gotoAllBoard(this)" target="_blank" href="/">所有品牌</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="showAdd" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">

			<div class="form-group">
			   	<div class="col-sm-2 control-label">年月</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" id="startTimeAlarm" placeholder="年月" onClick="WdatePicker({skin:'twoer',dateFmt:'yyyy-MM'})"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">新车展厅建卡量</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="dr.createdAmount" placeholder="新车展厅建卡量"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">新车DCC邀约到店量</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="dr.dccAmount" placeholder="新车DCC邀约到店量"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">总量</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="dr.allAmount" placeholder="总量"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">零售</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="dr.retailAmount" placeholder="零售"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">二网</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="dr.twoNetAmount" placeholder="二网"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">大客户</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="dr.bigClientAmount" placeholder="大客户"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">置换潜客量</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="dr.latentAmount" placeholder="置换潜客量"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">潜客评估量</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="dr.latentAssessAmount" placeholder="潜客评估量"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">评估成交量</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="dr.latentAssessDealAmount" placeholder="评估成交量"/>
			    </div>
			</div>

			<div class="form-group">
			   	<div class="col-sm-2 control-label">零售建卡量</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="dr.sellCreatedAmount" placeholder="零售建卡量"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">零售成交量</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="dr.sellDealAmount" placeholder="零售成交量"/>
			    </div>
			</div>


			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>

	<div v-show="showUpload || showUploadAmount1 || showUploadAmount2" class="panel panel-default">
		<div class="panel-heading" v-if="showUpload">导入</div>
		<div class="panel-heading" v-if="showUploadAmount1">每月各款新车的零售量导入</div>
		<div class="panel-heading" v-if="showUploadAmount2">每月各款新车的置换数量导入</div>
		<form class="form-horizontal">

			<div class="form-group">
				<div class="col-sm-2 control-label">选择Excel文件</div>
				<div class="col-sm-10">
					<input type="file" name="file" id="file" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">格式参考</div>
				<div class="col-sm-10 control-label" style="text-align: left;">
					<a href="/file/dr.xls" target="_blank" v-if="showUpload">点此下载 Excel数据样本</a>
					<a href="/file/dra.xls" target="_blank" v-if="showUploadAmount1 || showUploadAmount2">点此下载 Excel数据样本</a>
				</div>
			</div>


			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="upLoadFile" value="确定" v-if="showUpload" />
				<input type="button" class="btn btn-primary" @click="upLoadFileAmount(1)" value="确定" v-if="showUploadAmount1" />
				<input type="button" class="btn btn-primary" @click="upLoadFileAmount(2)" value="确定" v-if="showUploadAmount2" />
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
				&nbsp;&nbsp;点击上传后，请您耐心等待，上传完成后页面会提示您。
			</div>
		</form>
	</div>

	<!--每月各款新车的零售量-->
	<div v-show="showList" class="panel panel-default rrappApprove" style="margin-top:20px;">
		<div class="panel-heading">每月各款新车的零售量 【1、点击表格里的单元格，会出现编辑框，输入数量后会自动保存】【2、按键盘上的Tab键，会结束本输入框输入，进入下一个输入框输入】</div>
		<div class="row" style="padding-top: 0px;">
			<div class="col-sm-12" style="padding-top: 8px;">
				<a v-if="hasPermission('pm:dr:save')" class="btn btn-primary" @click="uploadAmount(1)"><i class="fa fa-arrow-circle-right"></i>&nbsp;导入</a>
			</div>
			<div class="col-sm-12" style="padding: 0px;">
				<div class="form-horizontal" style="width: initial;padding-top: 8px;">

					<div class="form-group">
						<div class="col-sm-12" >
							<table class="table">
								<tr class="he">
									<td>月份</td>
									<td v-for="data in yearMonthLists">{{data.yearMonth}}</td>
								</tr>
								<tr v-for="(val, indexRow) in smallBrandLists">
									<td>{{val.name}}</td>
									<td v-for="(data, key, indexCol) in amountDataLists1[indexRow]" v-bind:class="data.yearMonth + '_' + data.arctic + '_' + data.atype" @click="flag && updateAmount(data)" v-bind:yearMonth="data.yearMonth" v-bind:arctic="data.arctic" v-bind:amount="data.amount" v-bind:atype="data.atype" v-bind:dealerId="data.dealerId">
									{{data.amount}}
									</td>
								</tr>
								<tr>
									<td>合计</td>
									<td v-for="(val, colIndex) in allAmountDataLists1">
										{{val.allAmount}}
									</td>
								</tr>
							</table>
						</div>
					</div>

					<div class="form-group">

					</div>
				</div>
			</div>
		</div>
	</div>

	<!--每月各款新车的置换数量-->
	<div v-show="showList" class="panel panel-default rrappApprove" style="margin-top:20px;">
		<div class="panel-heading">每月各款新车的置换数量 【1、点击表格里的单元格，会出现编辑框，输入数量后会自动保存】【2、按键盘上的Tab键，会结束本输入框输入，进入下一个输入框输入】</div>

		<div class="row" style="padding-top: 0px;">
			<div class="col-sm-12" style="padding-top: 8px;">
				<a v-if="hasPermission('pm:dr:save')" class="btn btn-primary" @click="uploadAmount(2)"><i class="fa fa-arrow-circle-right"></i>&nbsp;导入</a>
			</div>

			<div class="col-sm-12" style="padding: 0px;">
				<div class="form-horizontal" style="width: initial;padding-top: 8px;">

					<div class="form-group">
						<div class="col-sm-12" >
							<table class="table">
								<tr class="he">
									<td>月份</td>
									<td v-for="data in yearMonthLists">{{data.yearMonth}}</td>
								</tr>
								<tr v-for="(val, indexRow) in smallBrandLists">
									<td>{{val.name}}</td>
									<td v-for="(data, key, indexCol) in amountDataLists2[indexRow]" v-bind:class="data.yearMonth + '_' + data.arctic + '_' + data.atype" @click="flag && updateAmount(data)" v-bind:yearMonth="data.yearMonth" v-bind:arctic="data.arctic" v-bind:amount="data.amount" v-bind:atype="data.atype" v-bind:dealerId="data.dealerId">
										{{data.amount}}
									</td>
								</tr>
								<tr>
									<td>合计</td>
									<td v-for="(val, colIndex) in allAmountDataLists2">
										{{val.allAmount}}
									</td>
								</tr>
							</table>
						</div>
					</div>

					<div class="form-group">

					</div>
				</div>
			</div>
		</div>
	</div>



</div>
<style>
	.rrappApprove .table td { padding: 0px; line-height: 40px; height:40px; }
	.grid-btn .btn {
		margin-right: 5px;
	}
</style>

<script src="../../js/modules/pm/dr.js"></script>
</body>
</html>