<!DOCTYPE html>
<html>
<head>
	<title>评测批次</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/font-awesome.min.css">
	<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
	<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
	<link rel="stylesheet" href="../../css/main.css">
	<script src="../../libs/jquery.min.js"></script>
	<script src="../../plugins/layer/layer.js"></script>
	<script src="../../libs/bootstrap.min.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
	<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
	<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
            <div class="form-group col-sm-2" style="padding-left: 0px;">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="关键词">
            </div>
			<div class="form-group col-sm-2" style="padding-left: 0px;">
				<select class="form-control" id="selectDealerId" @change="query">
					<option value="0">选择经销商</option>
					<option v-for="data in dealerLists" v-bind:value="data.id">{{data.title}}</option>
				</select>
			</div>
            <a class="btn btn-default" @click="query">查询</a>
			<a v-if="hasPermission('pm:evalstage:used')" class="btn btn-danger" @click="startEval"><i class="fa btn-danger"></i>&nbsp;参加评测</a>
			<a v-if="hasPermission('pm:evalstage:used')" class="btn btn-primary" onclick="return gotoReport(this)" target="_blank" href="/"><i class="fa fa-play"></i>&nbsp;批量查看报告</a>
			<a v-if="hasPermission('pm:evalstage:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('pm:evalstage:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('pm:evalstage:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">

		</form>
	</div>
</div>

<script src="../../js/modules/pm/evalstage.js" v-if="hasPermission('pm:evalstage:save')"></script>
<style>
	/*jqGrid 行选中不会变颜色*/
	.table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success{
		background-color:#fff;
	}
	.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active{
		background-color:#fff;
	}

</style>
</body>
</html>