<!DOCTYPE html>
<html>
<head>
	<title>通知平台-通知场景</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/font-awesome.min.css">
	<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
	<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
	<link rel="stylesheet" href="../../css/main.css">
	<script src="../../libs/jquery.min.js"></script>
	<script src="../../plugins/layer/layer.js"></script>
	<script src="../../libs/bootstrap.min.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
	<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
	<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="关键词">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
			<a v-if="hasPermission('pm:informscene:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('pm:informscene:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('pm:informscene:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">场景</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="informScene.scene" placeholder="必填"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">库名</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="informScene.dbName" placeholder="必填"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">表名</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="informScene.tableName" placeholder="必填"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">查询条件</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="informScene.fields" placeholder="必填"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">通知人邮箱</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="informScene.informant" placeholder="必填"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">通知主题模板</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="informScene.informTheme" placeholder="必填"/>
			    </div>
			</div>


			<div class="form-group">
			   	<div class="col-sm-2 control-label">通知内容模板</div>
			   	<div class="col-sm-10">
					<textarea v-model="informScene.informContent" class="form-control" placeholder="通知内容模板选填" style="width:600px; height:100px;"></textarea>
			    </div>
			</div>


			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/pm/informscene.js"></script>
</body>
</html>