html { overflow-x:hidden; }
.content-header {
	position: relative;
	padding: 0 0 3px 8px
}

.content-header>.breadcrumb {
    position: relative;
    top: 0;
    right: 0;
    float: none;
    margin-top: 0px;
    padding-left: 10px;
    background: #ecf0f5;
}
#rrapp {
    margin-top: 15px;
}

/*scroll style*/
::-webkit-scrollbar{
    width: 4px;
    height: 2px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #8590a6;
}

.main-footer {
    padding: 7px;
    color: #444;
    border-top: 1px solid #eee;
}

[v-cloak] {
  display: none;
}

.grid-btn{
	margin-bottom:12px;
}
.grid-btn .btn{
	margin-right:10px;
}
.pointer{cursor: pointer;}

.ml-10 { margin-left:0 !important; }
@media (min-width: 768px) {
	.ml-10 { margin-left:10px !important; }
	.col-sm-10 {width: 70%;padding-left: 0px;}
	.col-sm-2 {width: 24%;}
}
tbody > tr > th {font-weight: normal; }
.panel .table { margin:0 0; border: 1px solid rgba(187, 187, 187, 0.55);}
.panel .table th { font-weight: bold }
.panel-body .mytable tr td:nth-child(2n) { padding-left:5px; }
.panel-body .mytable tr td:nth-child(2n-1) { background: #eeeeee;width: 150px;text-align: right; font-weight:bold; padding-right:5px;}

.panel .pagination { margin:0; }
.panel-default>.panel-heading {background-color: #f5f5f5;}
.row{
	border-top: 1px solid #ddd;
	margin:0;
	padding:20px 2px 0px 2px;
}
.col-xs-6{padding-left: 0px;padding-right: 0px;}
.form-horizontal .form-group {margin-left:0px;margin-right:0px;}
.form-horizontal{
	width:650px;padding-top:20px;
}
.rrappApprove .form-group .col-sm-10 {margin-top:8px;}
.rrappApprove .form-group table {}
.rrappApprove .table td {border-right: 1px solid #ddd;font-size:12px; text-align:center;}
.rrappApprove .table .he td {font-weight: bold;}
.rrappApprove .table td input {width:50px; height:25px; line-height:25px;}
.rrappApprove .table td.bg {background:#f2dcdb}

.layui-layer-content {color:#000;}
