<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="modules/front/header::header" />

<body class="met-navfixed" style="padding-top: 0px;">

<script src="/front/js/metinfo.min.js"></script>
<nav class="navbar navbar-default met-nav navbar-fixed-top" role="navigation" style="display:none;"></nav>
<div class="met-position  pattern-show" style="display:none;"></div>

<section class="met-shownews animsition" style="margin-top: 0px; padding-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 met-shownews-body" th:if="${createDatetime} != null">
                <div class="row">
                    <div class="met-shownews-header">
                        <h1 th:text="'置换业务看板'"></h1>
                        <div class="info">
                            <span th:text="${createDatetime}"></span>
                            <!--<span><i class="icon wb-eye margin-right-5" aria-hidden="true"></i></span>-->
                        </div>
                    </div>

                    <!--每个品牌的各车型数据-->
                    <div class="met-editor lazyload clearfix info" style="font-size:12px;padding-top:40px" th:each="lists, listsStat: ${boardLists}">
                        <div class="col-md-4 oneTable" style="padding-left: 0px;">
                            <table>
                                <tr class="oneTableHeader">
                                    <td rowspan="2" style="padding-top: 30px;font-weight: bold;font-size: 18px;" th:text="${lists.key}"></td>
                                    <td colspan="2">新车销售车型比例</td>
                                    <td colspan="2">置换数据</td>
                                </tr>
                                <tr class="oneTableHeader">
                                    <td>销售台次</td>
                                    <td>占比</td>
                                    <td>置换台次</td>
                                    <td>置换率</td>
                                </tr>
                                <tr th:each="data : ${lists.value}">
                                    <td th:text="${data.title}"></td>
                                    <td th:text="${data.draAmount1}"></td>
                                    <td th:text="${data.draAmountBi1} + '%'"></td>
                                    <td th:text="${data.draAmount2}"></td>
                                    <td th:text="${data.draAmountBi2} + '%'"></td>
                                </tr>
                            </table>
                        </div>

                        <!--饼状图-->
                        <div class="col-md-8 divBing" th:id="'div_bing' + ${listsStat.index}" th:attr="brand-name=${lists.key}" style="height:450px;">
                        </div>

                    </div>



                    <!--广义狭义置换率-->
                    <div class="met-editor lazyload clearfix info" style="font-size:12px;padding-top:40px;padding-left:0px;padding-right:0px;">

                        <!--折线图-->
                        <div class="col-md-12" id="divLine1" style="height:350px;">
                        </div>

                    </div>

                    <!--置换潜客率-->
                    <div class="met-editor lazyload clearfix info" style="font-size:12px;padding-top:40px;padding-left:0px;padding-right:0px;">

                        <!--折线图-->
                        <div class="col-md-12" id="divLine2" style="height:350px;">
                        </div>

                    </div>

                    <!--潜客评估率-->
                    <div class="met-editor lazyload clearfix info" style="font-size:12px;padding-top:40px;padding-left:0px;padding-right:0px;">

                        <!--折线图-->
                        <div class="col-md-12" id="divLine3" style="height:350px;">
                        </div>

                    </div>

                    <!--评估成交率-->
                    <div class="met-editor lazyload clearfix info" style="font-size:12px;padding-top:40px;padding-left:0px;padding-right:0px;">

                        <!--折线图-->
                        <div class="col-md-12" id="divLine4" style="height:350px;">
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </div>
</section>

<!--echarts-->
<script src="../../../plugins/echarts/echarts.min.js"></script>
<script src="../../../js/modules/front/echars_fun.js"></script>
<footer th:replace="modules/front/footer::footer"></footer>
<div th:replace="modules/front/footer::footer_button"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var b = [[${params.b}]];
    var d = [[${params.d}]];
    var startMonth = [[${params.sm}]];
    var endMonth = [[${params.em}]];
    var token = [[${params.token}]];

    function getEcharts() {
        if (d == "")    return;

        // 去请求数据以生成报表
        var url = "/boardecharts?b="+b+"&d="+d+"&token="+token+"&sm="+startMonth+"&em="+endMonth;
        $.ajax({
            type: 'GET',
            url: url,
            contentType: "application/json",
            success: function(r){
                if (r.code === 0){
                    //bing('div_bing1', '', r.thisData.titles, r.thisData.datas, 1, 2);

                    $(".divBing").each(function(index,element){
                        var brandName = $(this).attr("brand-name");
                        
                        bing($(this).attr("id"), '', r.thisData[brandName].titles, r.thisData[brandName].datas, 1, 2);
                    });
                }

            }
        });
    }

    function getLineEcharts(type) {
        if (d == "")    return;
        var url = "/echars_data?type="+type+"&token="+token+"&dealerId="+d+"&sm="+startMonth+"&em="+endMonth;

        var divId = "divLine1";
        var title = "";
        switch (type){
            case "one":
                title = "置换率";
                divId = "divLine1";
                break;
            case "two":
                title = "置换潜客率";
                divId = "divLine2";
                break;
            case "three":
                title = "潜客评估率";
                divId = "divLine3";
                break;
            case "four":
                title = "评估成交率";
                divId = "divLine4";
                break;

        }

        var formatter = function (value, index) {
            return value + ' %';
        };

        $.ajax({
            type: 'GET',
            url: url,
            contentType: "application/json",
            success: function(res){
                moreLineMoreY(divId, title, res.thisData.titles, res.thisData.datas, res.thisData.cates, 11, formatter, 2, 2, res.thisData.catesColors, res.thisData.yDatas, res.thisData.catesYs);
                if (type == "one"){
                    getLineEcharts("two");
                }else if (type == "two"){
                    getLineEcharts("three");
                }else if (type == "three"){
                    getLineEcharts("four");
                }

            }
        });
    }
    /*]]>*/

</script>
<script>
    $(document).ready(function($) {
        //getEcharts();
    });
    getEcharts();
    getLineEcharts('one');
</script>

<style>

    table tr td {text-align: center; }
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {padding-left:0px; padding-right:0px;}
    .oneTable .oneTableHeader td{ height:25px; line-height:25px; background: #d9534f; color:#fff; }
    .oneTable table tr td{ height:25px; line-height:25px; font-size:12px; }
</style>
</body>
</html>